:root {
    --background-normal: #111;
    --background-day: #99915a;
    --background-night: #5a5d99;
    --foreground-lowlight: #666;
    --foreground-normal: #aaa;
    --foreground-highlight: #fff;
    --foreground-error: #f90;
    --foreground-day: black;
    --foreground-night: white;
    --link-normal: #00aaff;
    --link-hover: #aaff00;
    --font-heading-family: "Noto Serif", serif;
    --font-normal-family: "Noto Sans", sans-serif;
    --font-normal-line-height: 1.25;
    --font-normal-size: 1em;
    --font-normal: var(--font-normal-size)/var(--font-normal-line-height) var(--font-normal-family);
    --font-error-size: 0.75em;
    --page-padding: 20px;
    --line-padding: 5px;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    font: var(--font-normal);
    color: var(--foreground-normal);
    background-color: var(--background-normal);
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--line-padding);
    padding: var(--page-padding);
}

a         { color: var(--link-normal); text-decoration: none; }
a:visited { color: var(--link-normal); text-decoration: none; }
a:hover   { color: var(--link-hover); text-decoration: none; }
a:active  { color: var(--foreground-highlight); text-decoration: none; }

h1 {
    color: var(--foreground-highlight);
}

h1,p,form {
    text-align: center;
}

fieldset {
    border: 0;
}

form,fieldset {
    display: block;
}

label {
    display: block;
    padding: var(--line-padding);
}

input {
    width: 400px;
    padding: var(--line-padding);
}

button {
    width: max-content;
    padding: var(--line-padding);
}

.error {
    color: var(--foreground-error);
    padding: var(--page-padding);
    font-size: var(--font-error-size);
}

#weather-now {
    margin: var(--page-padding);
}

#weather-now div {
    text-align: center;
}

#weather-now .place {
    color: var(--foreground-highlight);
    font-size: 1.5em;
}

#weather-now .station,
#weather-now .timestamp {
    font-size: 0.75em;
}

#weather-now .temperature {
    color: var(--foreground-highlight);
    font-size: 3em;
}

.weather-forecast {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: 0 auto;
}

.weather-forecast div {
    padding: var(--line-padding);
}

.weather-forecast .time {
    flex: 1;
}

.day {
    color: var(--foreground-day);
    background-color: var(--background-day);
}

.night {
    color: var(--foreground-night);
    background-color: var(--background-night);
}

footer {
    margin: var(--page-padding);
    font-family: var(--font-normal-family);
    font-size: 0.8em;
    color: var(--foreground-lowlight);
    text-align: center;
}
